<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load my_filter %}

{% block title_block %}
  <title>Acasă</title>
{% endblock %}

{% block body_block %}
  <div class="container">
    <h1>Welcome to my site!</h1>
    <p>da da cainii rosii</p>

    {{ chestie }}

    <br>
    <a href="{% url 'ceva:tab' %}">Catre tabele</a>
    <br>
    <a href="{% url 'admin:index' %}">Admin</a>

    <img src="{% static 'img/dinamo.png' %}" alt="">

    <br><br><br><br>

    {{ numar | add:'50' }}

    <br><br><br><br>

    {{ numar | even_no_count }}
  </div>
{% endblock %}
